<h1>Listing gifts</h1>

<table>
  <tr>
    <th>Gift</th>
    <th>Project</th>
    <th>Gift name</th>
    <th>Gift url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gifts.each do |gift| %>
  <tr class="<%= cycle('gift_line_odd', 'gift_line_even') %>">
    <td><%= gift.gift_id %></td>
    <td><%= gift.project_id %></td>
    <td><%= gift.gift_name %></td>
    <td><%= gift.gift_url %></td>
    <td><%= link_to 'Info', gift %></td>
    <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
	<td><%= link_to 'Download', gift %></td>
    <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gift', new_gift_path %>
